development:
  adapter: mysql2
  database: hots_development
  pool: 
  timeout: 5000
test:
  adapter: mysql2
  database: hots_test
  pool: 5
  timeout: 5000

production:
  adapter: mysql2
  username: deploy
  database: hots_production
  pool: 5
  timeout: 5000
