.page-header
  %h1 HEROES OF THE STORM

%p.lead
  Hero build repository

.col-lg-3
  %img{data: {src: 'holder.js/95%x64'}}
  %h2 Assassins
  = render partial: 'list'
.col-lg-3
  %img{data: {src: 'holder.js/95%x64'}}
  %h2 Warriors
  = render partial: 'list'
.col-lg-3
  %img{data: {src: 'holder.js/95%x64'}}
  %h2 Supports
  = render partial: 'list'
.col-lg-3
  %img{data: {src: 'holder.js/95%x64'}}
  %h2 Specialists
  = render partial: 'list'
