.page-header
  %h1 HEROES OF THE STORM

%p.lead
  Hero build repository

.col-lg-3
  %img{data: {src: 'holder.js/95%x64'}}
  %h2 Assassins
  = render 'list', heroes: ['Kerrigan', 'Nova', 'Zeratul']
.col-lg-3
  %img{data: {src: 'holder.js/95%x64'}}
  %h2 Warriors
  = render 'list', heroes: ['Arthas', 'Muradin', 'Stitches']
.col-lg-3
  %img{data: {src: 'holder.js/95%x64'}}
  %h2 Supports
  = render 'list', heroes: ['Tassadar', 'Thrall', 'Uther']
.col-lg-3
  %img{data: {src: 'holder.js/95%x64'}}
  %h2 Specialists
  = render 'list', heroes: ['Vaevictis', 'Warfield', 'Witch Doctor', 'Zagara']
